{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<h1>Products</h1>
	<table>
		<tbody>
			<tr>
				<th>Name</th>
				<td>
					{{ product.name}}</td>
				<th>Description</th>
				<td>
					{{ product.description}}</td>
				<th>Size</th>
				<td>
					{{ product.size}}</td>
			</tr>
		</tbody>
	</table>
	<a href="{{ path('product_edit',{'id':product.id})}}">Edit</a>
	<a href="{{ path('product_delete',{'id':product.id})}}">Delete</a>

{% endblock %}
